@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index / Hello";
}

<div class="text-left">
    <h1 class="display-3">Index</h1>
    <p class="h4 mb-4">@ViewData["Message"]</p>
    <partial name="_table" />
</div>